#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 20px rgb(16, 31, 40);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
